@use "../../../../assets/styles/palette";

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 99px;

  height: 100%;
  min-height: 127px;

  background-color: palette.$card;

  overflow: hidden;
}

:host ::ng-deep .book-icon svg {
  fill: palette.$comic_icon;
}