@use "../../../../assets/styles/palette";

:host {
  display: block;
  
  border-radius: 6px;
  background-color: palette.$details;
  
  width: fit-content;
  
  #comic-picker {
    display: none;
  }
  
  .kmk-read-btn {
    display: flex;
    align-items: center;
    
    background: none;
    gap: 8px;
    
    padding: 12px 16px;

    font-size: 16px;
    font-weight: 500;
  }
  /* @media breakpoint.sm {
        display: flex;
        justify-content: center;
        align-items: center;
      
        width: 52px; height: 52px;
      } */
}