@use "../../../assets/styles/palette";

:host {
  display: flex;
  flex-direction: column;

  height: 100%;

  .kmk-library-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 80px;

    height: 100%;

    overflow-y: auto;

    padding: 40px 60px;

    .kmk-reading {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 12px;

      width: 100%;

      .kmk-reading-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .leading,
        .trailing {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }

      .kmk-reading-comics {
        display: flex;
        gap: 20px;
        overflow-x: auto;

        width: 100%;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .kmk-comics-area {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      width: fit-content;

      gap: 40px;
    }
  }
}

:host ::ng-deep .chevron-up svg {
  fill: palette.$details;
}